.swipe_buttons {
  position: fixed;
  bottom: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.swipe_buttons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0 10px 53px 0 rgba(0, 0, 0, 0.3) !important;
}

.swipe_buttons_repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}
.swipe_buttons_left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}
.swipe_buttons_star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}
.swipe_buttons_right {
  padding: 3vw !important;
  color: lightgreen !important;
}
.swipe_buttons_lightning {
  padding: 3vw !important;
  color: rgb(175, 79, 175) !important;
}
